<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>music_pic1.png</string>
		<key>type</key>
		<string>0</string>
		<key>title</key>
		<string>快步走</string>
		<key>step</key>
		<string>步频 135</string>
		<key>desc</key>
		<string>适合刚开始尝试跑步的人</string>
		<key>isuse</key>
		<true/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>成吉思汗</string>
				<key>musicSpecial</key>
				<string>38年练习作</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=28315638.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>朝九晚五</string>
				<key>musicSpecial</key>
				<string>听山</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=26379324.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>music_pic2.png</string>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>慢跑</string>
		<key>step</key>
		<string>步频 160</string>
		<key>desc</key>
		<string>适合已经具有跑步基础的人</string>
		<key>isuse</key>
		<false/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>music_pic3.png</string>
		<key>type</key>
		<string>2</string>
		<key>title</key>
		<string>速度跑</string>
		<key>step</key>
		<string>步频 180</string>
		<key>desc</key>
		<string>适合有长期跑步习惯，想要挑战自己的人</string>
		<key>isuse</key>
		<false/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>music_pic4.png</string>
		<key>type</key>
		<string>3</string>
		<key>title</key>
		<string>节奏赛道</string>
		<key>step</key>
		<string>步频 155</string>
		<key>desc</key>
		<string>适合带强烈音乐节奏感跑步的人</string>
		<key>isuse</key>
		<false/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>music_pic5.png</string>
		<key>type</key>
		<string>4</string>
		<key>title</key>
		<string>HIT180</string>
		<key>step</key>
		<string>步频 180</string>
		<key>desc</key>
		<string>适合高强度间歇跑步的人</string>
		<key>isuse</key>
		<false/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>music_pic6.png</string>
		<key>type</key>
		<string>5</string>
		<key>title</key>
		<string>速度空间</string>
		<key>step</key>
		<string>步频 175</string>
		<key>desc</key>
		<string>适合要跑步速度感的人</string>
		<key>isuse</key>
		<false/>
		<key>isdownload</key>
		<false/>
		<key>musics</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>雨丝情仇</string>
				<key>musicSpecial</key>
				<string>男人四十</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=166430.mp3</string>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你是我的花朵</string>
				<key>musicSpecial</key>
				<string>听风的歌</string>
				<key>musicUrl</key>
				<string>http://music.163.com/song/media/outer/url?id=5239880.mp3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
